/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.toolbar {
    background: black;
    color:black;
    
  }
  .spacer{
    flex: 2 2 auto;
  }
  .spacer2{
    flex: 0.1 0.1  auto;
  }
  .connexion:hover{
    background-color: red;
    color:white;
  }
  a{
    text-decoration:none;
    color:white;
  }

a:hover{color:white;}
.active{
  background-color:RoyalBlue;
}