.contenu{
    background-image: url("/././assets/background.jpg");
    height:100vh;
    padding:50px;
}
h1{
    display:flex;
    justify-content:center;
    color:white;
    font-family: Georgia, serif;
    font-size:30px;
  
}
h3{
    
    padding:20px;
    display:flex;
    justify-content:right;
    color:white;
    font-family: Georgia, serif;
   
}
.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    align:center;
    margin:70px;
  }
  .cardio{
    display:flex;
    justify-content:right;
    
  }
  p{ font-family: Georgia, serif;}
  .titre{margin-left:100px;}