<div class="contenu">
   <div class="header">
     <span><h1>De superbes citations pour vous,tirées d'auteurs célèbres et aussi venant de vous!</h1></span>
   </div>
   <div>
    <br><br>
    <h3>   “Les maux qui dévorent les hommes sont le fruit de leurs choix ; <br>
        et ces malheureux cherchent loin d'eux les biens dont ils portent la source.”

        <br><br>De Pythagore.
    </h3>
   </div>
   <div class="cardio">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title ><u><span class="titre">BON A SAVOIR</span> </u> </mat-card-title>
          
          
        </mat-card-header>
        <mat-card-content>
          <ol>
          <li><p>Si vous voulez voir la liste des auteurs proposés,voir l'option "AUTEURS" dans la barre de navigation.</p></li>
          <li><p>Si vous voulez proposer des citations,voir l'option "PROPOSITIONS" dans la barre de navigation.</p></li>
        </ol>
        </mat-card-content>
        
      </mat-card>
   </div>
</div>